<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row ">
              <div class="col-md-4">
                <h3>Manejo de Recursos</h3>
              </div>
              <div class="col-md-4 offset-md-4">
                <!--<ng-container *ngIf="id_role === 2; else elseTemplate">
                  <button class="btn btn-outline-primary" (click)="open('autofocus')">
                    Agregar Nuevo Residente
                  </button>
                </ng-container>
                <ng-template #elseTemplate>-->
                  <button class="btn btn-outline-primary" (click)="open(add)">
                    Agregar Nueva Votacion
                  </button>
                <!--</ng-template>-->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover ">
                <thead class=" text-primary">
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Descripcion</th>
                        <th>Presupuesto</th>
                        <th>A favor</th>
                        <th>En contra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" class="pointer">
                        <td>{{user.data.id_voting}}</td>
                        <td class=" text-primary">{{user['data'].name }}</td>
                        <td>{{user['data'].description}}</td>
                        <td class=" text-primary">$ {{user['data'].budget}}</td>
                        <th>{{user.aceptacion}}</th>
                        <td>{{user.rechazo}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar un nueva votacion</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="newVoting()">
            <div class="col-md-12" class="form-group">
              <label>Nombre <strong><span class="text-danger">*</span></strong></label>
              <input formControlName="name" name="name" inputmode="text" class="form-control" placeholder="Titulo " [(ngModel)]="this.data.name"  >
            </div>
            <div class="col-md-12" class="form-group">
              <label>Descripcion <strong><span class="text-danger">*</span></strong></label>
              <input formControlName="description" name="description" inputmode="text" class="form-control" placeholder="Descripcion" [(ngModel)]="this.data.description" >
            </div>   
            <div class="col-md-12" class="form-group">
              <label>Presupuesto <strong><span class="text-danger">*</span></strong></label>
              <input formControlName="budget" name="budget" inputmode="numeric" class="form-control" placeholder="$" [(ngModel)]="this.data.budget" >
            </div>    
          <p><strong>Estas por agregar una nueva votacion <span class="text-primary">Verifica</span> la informacion</strong></p>
          <div class="form-group">
  
            <button type="submit" class="btn btn-danger" (click)="d('Cross click')">Ok</button>
            <button class="btn" (click)="d('Cross click')">Cancel</button>
            </div>
        </form>
      </div>
  </ng-template>