<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row ">

            <div class="col-md-4">
              <h3 >Anuncios</h3>
            </div>
            <div class="col-md-4 offset-md-4">
              <!--<ng-container *ngIf="id_role === 2; else elseTemplate">
                <button class="btn btn-outline-primary" (click)="open('autofocus')">
                  Agregar Nuevo Residente
                </button>
              </ng-container>
              <ng-template #elseTemplate>-->
                <button class="btn btn-outline-primary" (click)="open('autofocus')">
                  Agregar Nuevo Gerente
                </button>
              <!--</ng-template>-->
            </div>
          </div>
        <div class="card-body">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover ">
              <thead class=" text-primary">
                  <tr>
                      <th>Id</th>
                      <th>Titulo</th>
                      <th>Mensaje</th>
                      <th>Fraccionamiento</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of users" class="pointer">
                      <td>{{user.id_advertisements}}</td>
                      <td class=" text-primary">{{user.title }}</td>
                      <td>{{user.description }}</td>
                      <td>{{user.division_id_division }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
