<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row ">
              <div class="col-md-4">
                <h3>Historial de servicios</h3>
              </div>
              <div class="col-md-4 offset-md-4">
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover ">
                <thead class=" text-primary">
                    <tr>
                        <th>Id</th>
                        <th>Servicio</th>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Trabajador asignado</th>
                        <!--<th>Fraccionamiento</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" class="pointer">
                        <td>{{user.id_orders}}</td>
                        <td>{{user.services}}</td>
                        <td class=" text-primary">{{user.description }}</td>
                        <td>{{user.date  | date: 'dd/MM/y'}}</td>
                        <td>
                          <span class="badge badge-dot mr-4">
                          <i class="bg-success"></i> {{user.status }}
                        </span>
                        </td>
                        <th>{{user.first_name }} {{user.last_name }}</th>
  
                        <!--<td>{{user.division_id_division }}</td>-->
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>