<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row ">
              <div class="col-md-4">
                <h3>Lista de pagos</h3>
              </div>
              <div class="col-md-4 offset-md-4">
                <!--<ng-container *ngIf="id_role === 2; else elseTemplate">
                  <button class="btn btn-outline-primary" (click)="open('autofocus')">
                    Agregar Nuevo Residente
                  </button>
                </ng-container>
                <ng-template #elseTemplate>-->

                <!--</ng-template>-->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover ">
                <thead class=" text-primary">
                    <tr>
                       <th>Id</th>
                        <th>Calle</th>
                        <th># Casa</th>
                        <th>Cantidad</th>
                        <th>Metodo de pago</th>
                        <th>Fecha de pago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" class="pointer">
                        <td>{{user.id_users}}</td>
                        <td class=" text-primary">{{user.street}}</td>
                        <td>{{user.house_number}}</td>
                        <td style="color: green;">{{user.amount}}</td>
                        <th style="color: green;">{{user.type}}</th>
                        <td>{{user.update_time | date: 'dd/MMM/y'}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>