<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
<div class="container-fluid">
    <div class="header-body">
    </div>
</div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
<!-- Table -->
    <div class="row">
        <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
            <div class="row ">
            <div class="col-md-4">
                <h4 >Estado de cuenta</h4>
            </div>
            </div>
            </div>
            <div class="card-body">
            <div class="row justify-content-center">
                <div class="col">
                    <ng-container *ngIf="error; else elseT">
                        <div class="sonar-wrapper">
                            <div class="sonar-emitter-red">
                                <div class="sonar-wave-red"></div>
                            </div>
                        </div>                      
                    </ng-container>
                      <ng-template #elseT>
                        <div class="sonar-wrapper">
                            <div class="sonar-emitter">
                                <div class="sonar-wave"></div>
                            </div>
                        </div>                      
                    </ng-template>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary" (click)="pagar()">Pagar Mes</button>
                    <br>
                    <span style="text-align:center;">Ultimo mes</span>
                    <br>
                    <ng-container *ngIf="error; else elseTemplate">
                        <span style="justify-content: center;">No hay registro de pagos</span>
                      </ng-container>
                      <ng-template #elseTemplate>
                        <span style="justify-content: center;">{{date | date: 'dd/MM/y'}}</span>
                      </ng-template>
                </div>
            </div>
            </div>
            <div class="card-footer py-4">
            <h4><a style="color: blue;" routerLinkActive="active" [routerLink]="['/record']"><i class="ni ni-collection"> </i> Detalles de pagos  ></a></h4>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="table-responsive">
                            <table class="table align-items-center  table-flush">
                              <thead class="text-primary">
                                <tr>
                                  <th scope="col-6">Evento</th>
                                  <th scope="col-6">Fecha</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let event of events" class="pointer">
                                    <th class="media align-items-center" class="col-4">
                                        <span class="mb-0 text-sm">{{event.title}}</span>
                                    </th>
                                  <td class="col-8">{{event.start | date: 'dd MMMM yy'  }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
